body{background-color: black;}
h1{color: white; 
    font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
text-align: center;
text-transform: uppercase;
}
p{color: white;
text-align: center;;
}
.DQ8{border: white solid 5px;
width: 100%;}
.DQ8Div{width: 50%;
margin-left: 25%;
}